<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= render partial: 'comments/form' %>
<h3>Comments</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= link_to "Back to Articles", articles_path %>
<br>
<%= link_to "this one isn't that good. delete it.", article_path(@article), method: :delete %>
<br>
<%= link_to "edit", edit_article_path(@article) %>
<br>

