<!DOCTYPE html>
<html>
  <head>
    <title>Yash Dani's Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link href="https://fonts.googleapis.com/css2family=Cabin:wght@500&family=Montserrat:wght@900&display=swap" rel="stylesheet">


  </head>

  <body>

    <%= yield %>
    <br>
    <br>
    <br>
    <p class="flash"><%= flash.notice %></p>
  </body>
</html>
